.message-list {
    margin: 3rem 5rem 1rem;
    padding: 1rem 0;
    background-color: rgb(230, 230, 230);
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.message-container {
   
}

.user-message-container {
    text-align: right;
}

.bot-message-container {
    text-align: left;
}

.message {
    display: inline-block;
    max-width: 70%;
    padding: 1rem;
    margin: 1rem 2rem 0;
    word-wrap: break-word;
}

.user-message {
    background-color: white;
    margin-right: 1rem;
}

.bot-message {
    background-color: lightblue;
    margin-left: 1rem;
}