.header {
    background-color: navy;
    color: whitesmoke;
    margin: 0;
    padding: 0.5rem;
    text-align: left;
    vertical-align: middle;
    display: flex;
}

.header-home {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:visited {
        color: whitesmoke;
    }
}

.header-title {
    margin: 0 1rem;
    color: whitesmoke;
    vertical-align: baseline;
}

.header-image {
    background-color: transparent;
    height: 50px;
    margin: 0 1rem;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-link {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 0 1rem;
    color: whitesmoke;
    text-decoration: none;
    &:visited {
        color: whitesmoke;
    }
    &:hover {
        color: navy;
        background-color: whitesmoke;
    }
}